{% extends "navigation.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Homepage{% endblock title %}
{% block body %}

<div class="popup-overlay" id="popupOverlay"></div>

<div class="error-popup" id="errorPopup">
    <p id="errorMessage"></p>
  </div>
  

<div class="popup" id="ratingPopup">
  <div class="popup-content">
      <button class="close pop-button" onclick="closePopup()">&times;</button>
      <h2>Rate this movie</h2>
      <div class="star-rating" id="rate-form">
          <button class="fa fa-star rt-btn" type="submit" data-value="1"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="2"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="3"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="4"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="5"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="6"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="7"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="8"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="9"></button
          ><button class="fa fa-star rt-btn" type="submit" data-value="10"></button>
      </div>
      {% if user.is_authenticated %}
      <div class="d-inline">
        <button class="btn btn-outline-primary me-2" onclick="submitRating()">Rate</button>
        <button class="btn btn-outline-primary" onclick="">Remove rating</button>
        
      </div>
      {% else %}
        <button class="pop-button" onclick="redir_register()">Rate</button>
      {% endif %}
  </div>
</div>

<div class="row mb-4 watchlist-container">
    <h1 class="display-7">Top Picks For You</h1>
    {% for movie in movies %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card movie-card">
            <a href="/movie/{{movie.id}}/">
                <img class="card-img-top" src="{{movie.images_set.get.image.url}}" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">{{movie.name}}</p>
                {% if movie.id in rated_movies %}
                {% with ratings|get_movie_rating:movie as mov_rating %}
                <button class="openPopupButton btn btn-rating" onclick="openPopup({{movie.id}}, {{mov_rating.score}})">
                    <span>
                        <span id="movie_text-{{movie.id}}" class="fa fa-star"> {{mov_rating.score}}</span>
                    </span>
                </button>
                {% endwith %}
                {% else %}
                <button class="openPopupButton btn btn-rating" onclick="openPopup({{movie.id}}, 0)">
                    <span>
                        <span id="movie_text-{{movie.id}}" class="fa fa-star"> Rate</span>
                    </span>
                </button>
                {% endif %}
                <button class="watchLaterButton btn btn-watch-later" onclick="toggleWatchLater({{movie.id}})">
                    <span id="watch_later_icon-{{movie.id}}" class="fa fa-clock-o" style="color: {% if movie.id in watch_later_movies %}gold{% else %}gray{% endif %};"></span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation" class="mb-5">
      <ul class="pagination justify-content-center">
          {% if movies.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo;&laquo;</span>
                      <span class="sr-only">First</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ movies.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="First">
                      <span aria-hidden="true">&laquo;&laquo;</span>
                      <span class="sr-only">First</span>
                  </a>
              </li>
              <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
          {% endif %}

          {% for num in movies.paginator.page_range %}
              {% if movies.number == num %}
                  <li class="page-item active">
                      <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                  </li>
              {% elif num > movies.number|add:-3 and num < movies.number|add:3 %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if movies.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ movies.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ movies.paginator.num_pages }}" aria-label="Last">
                      <span aria-hidden="true">&raquo;&raquo;</span>
                      <span class="sr-only">Last</span>
                  </a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
              <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Last">
                      <span aria-hidden="true">&raquo;&raquo;</span>
                      <span class="sr-only">Last</span>
                  </a>
              </li>
          {% endif %}
      </ul>
  </nav>

   
{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}